# This is a basic workflow to help you get started with Actions

name: Build Web

# Controls when the workflow will run
on:
  create:
    tags:
      - v*
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:     
  release-web:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter pub get
    - run: flutter test
    - run: flutter build web --release
    - run: cd ./build; zip -r ../web.zip ./web/
    - uses: actions/upload-artifact@v2
      with:
        name: built-web
        path: ./web.zip
    - uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: build/web
  upload-artifacts:
    runs-on: ubuntu-latest
    needs: [release-web]
    steps:
      - uses: actions/download-artifact@v4.1.7
        with:
          name: built-web
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "web.zip"
          token: ${{ secrets.TOKEN }}
          allowUpdates: true
