# This is a basic workflow to help you get started with Actions

name: Build iOS

# Controls when the workflow will run
on:
  create:
    tags:
      - v*
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:     
  release-ios:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        architecture: x64
    - run: flutter pub get
    - run: flutter test
    - run: flutter build ios --release --no-codesign
    - run: mv ./build/ios/iphoneos/*.app ./KGPassGen-ios.app
    - run: zip -r ios.zip ./KGPassGen-ios.app
    - uses: actions/upload-artifact@v2
      with:
        name: built-ios
        path: ./ios.zip
  upload-artifacts:
    runs-on: ubuntu-latest
    needs: [release-ios]
    steps:
      - uses: actions/download-artifact@v4.1.7
        with:
          name: built-ios
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "ios.zip"
          token: ${{ secrets.TOKEN }}
          allowUpdates: true
